/* header section */
/* mobile device */
@media only screen and (max-width:688px) {

    /* header section */
    .container,
    .banner-details,
    .banner-img img,
    .banner-details,.service-details {
        width: 100%;
    }

    .header,
    .nav>ul,
    .main-features {
        flex-direction: column;
    }

    /* main-features section */

    .features-img {
        grid-template-columns: repeat(1, 1fr);
    }

    /* service image */
     

    .service {
        flex-direction: column;
        align-items: center;
    }

    .img-btn {
        margin-top: -80px;
        margin-left: 0px;
    }

    .service-btn {
        padding: 30px 40px;
    }
    /* facts section style responsive */
    .facts h2,.facts p{
        text-align: center;
    }
    
    .facts-activities{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }

}

/* tablet device */
@media only screen and (min-width:689px) and (max-width:1024px) {

    /* header section */
    .container,
    .banner-details,
    .banner-img img {
        width: 100%;
    }

    .header,
    .nav>ul,
    .main-features {
        flex-direction: column;
    }
    /* service section */
    .service {
        flex-direction: column;
        align-items: center;
    }
    /* facts section responsive */
    .facts-activities{
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        
    }
    .facts h2,.facts p{
        text-align: center;
    }

}