/* header section */
/* mobile device */
@media only screen and (max-width:688px) {
    /* header section */
    .container,.banner-details,.banner-img img{
        width: 100%;
    }
    .header,.nav>ul{
        flex-direction: column;
    }
    
    /* main-features section */
    .main-features {
        flex-direction: column;
    }
    .features-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-details{
       width: 100%;
    }
   
}
/* tablet device */
@media only screen and (min-width:689px) and (max-width:1024px) {
    /* header section */
    .container,.banner-details,.banner-img img{
        width: 100%;
    }
    .header{
        flex-direction: column;
    }
    .nav>ul{
        flex-direction: column;
      }
    /* main-features section */
      .main-features {
        flex-direction: column;
    }
}
