/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&family=Poppins&family=Roboto&family=Work+Sans:ital,wght@0,400;1,300&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.hide {
    display: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

:root {
    --primary-color: #FF900E;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.1);
    ;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

.logo h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav>ul {
    display: flex;
}

.nav>ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    ;
}

.nav>ul li a {
    text-decoration: none;
    color: #424242;
    ;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;

}

.banner-details {
    text-align: center;
    width: 862px;
    margin: 0 auto;
}

.banner-details h2 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 102px;
    margin-bottom: 33px;
}

.banner-details p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 33px;
}

.btn {
    padding: 21px 25px;
    border: 0;
    background: var(--primary-color);
    border-radius: 8px;
    margin-bottom: 50px;
    color: white;
}

.banner-img {
    margin-bottom: 45px;
}

.banner-img img {
    object-fit: cover;
    object-position: center;
}

/* main features styles */
.main-features {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 73px;
    padding: 85px 100px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.features-details h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    margin-bottom: 24px;
}

.features-details h2 span {
    color: var(--primary-color);
}

.features-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.fea-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* service section */
.service {
    display: flex;
    column-gap: 54px;
    margin-top: 142px;
}

.service-details {
    width: 586px;
}

.border {
    border-left: 2px solid var(--primary-color);
    margin-bottom: 24px;
}

.service-details h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 20px;
}

.service-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.service-box {
    padding: 30px 30px;
    box-shadow: 0px 0px 10px rgb(231, 227, 227);
    margin-bottom: 20px;
}

.service-box h3 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.service-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.service-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-btn {
    margin-top: -117px;
    margin-left: -35px;
}

.service-btn {
    padding: 82px 40px;
    border: 0;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 700;
    font-size: 50px;
    color: white;
    line-height: 0.7;
}

.service-btn small {
    font-size: 16px;
}

/* facts styles */
.facts {
    margin-top: 118px;
    margin-bottom: 180px;
}

.facts h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.facts p {
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px
}

.facts-activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    justify-items: center;
}

.activate {
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 3s, scale 3s;
    display: flex;
    justify-content: center;


}

.activate:hover {
    transform: rotate(90deg) scale(.5);
}

.single {
    text-align: center;
    padding: 83px 50px 8px 50px;
}

/* sponsor section styles */
.sponsor{
    margin-bottom: 130px;
}
.sponsor h2 {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    
}
.sponsor-img img{
    filter: brightness(.1)
}